@page "/element-list-modal/{WindowId}"
@using SOM.Core.ViewModel;

@inject HttpClient Http
@inject DialogService DialogService
@*@inject DialogService DialogService*@

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Width</th>
            <th>Height</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in elements)
        {
            <tr>
                <td>@element.Id</td>
                <td>@element.ElementTypeName</td>
                <td>@element.Height</td>
                <td>@element.Width</td>
            </tr>
        }
    </tbody>
</table>

<RadzenButton Text="Close" ButtonStyle="ButtonStyle.Secondary" Click=@CloseDialog></RadzenButton>

@code {
    [Parameter]
    public int WindowId { get; set; }

    private List<ElementViewModel>? elements;

    protected override async Task OnInitializedAsync() => elements = await Http.GetFromJsonAsync<List<ElementViewModel>>("/api/Element/GetByWindowId?id=" + WindowId);

    public async Task CloseDialog()
    {
        DialogService.Close();
        StateHasChanged();
    }
}
