@page "/window-list-modal/{OrderId}"
@using SOM.Core.ViewModel;

@inject HttpClient Http
@inject DialogService DialogService
@*@inject DialogService DialogService*@

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in windows)
        {
            <tr>
                <td>@element.Id</td>
                <td>@element.Name</td>
                <td>@element.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<RadzenButton Text="Close" ButtonStyle="ButtonStyle.Secondary" Click=@CloseDialog></RadzenButton>

@code {
    [Parameter]
    public int OrderId { get; set; }

    private List<WindowViewModel>? windows;

    protected override async Task OnInitializedAsync(){
        windows = await Http.GetFromJsonAsync<List<WindowViewModel>>("/api/Window/GetByOrderId?id=" + OrderId);
    }

    public async Task CloseDialog()
    {
        DialogService.Close();
        StateHasChanged();
    }
}
